<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Change Password Form</title>
</head>

<body>
	<section class="banner" style="color: black;">
		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 250px;" class="col-md-12">
							<!-- Change Password Form -->
							<h3 class="mt-4 text-center">Enter New Password</h3>
							<form method="post" th:action="@{/change-password}">
								<div class="form-group">
									<input name="newpassword" required type="text" placeholder="Enter New Password"
										class="form-control" />
								</div>
								<div class="text-center container">
									<button class="btn btn-primary">Change Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>